//? == Vars ==

// -- Colors --
$PrimaryDark: #0f0f0f;
$PrimaryLight: #f1f1f1;
$Color-Gray-1: #222222;
$Color-Gray-2: #303030;
$Color-Gray-3: #121212;
$Color-Gray-4: #212121;
$MainText: #f1f1f1;
$SecondaryText: #888888;
