//? == SearchPage ==

@import '../../styles/vars';

.wrapper {
	& > hr {
		height: 1px;
		background-color: rgba($PrimaryLight, 0.1);

		margin-bottom: 16px;
	}
}

.filter {
	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 6px;

	color: $Color-Gray-5;

	&__icon {
		margin-right: 8px;
	}

	&__title {
		font-size: 14px;
		font-weight: 500;
	}
}
