//? == SearchPage ==

@import '../../styles/vars';

.filter {
	display: flex;
	flex-direction: row;
	align-items: center;

	color: $Color-Gray-5;

	&__icon {
		margin-right: 8px;
	}

	&__title {
		font-size: 14px;
		font-weight: 500;
	}
}
